# **Importing Libraries**

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# **URL of the page to scrape**

In [2]:
url ='http://books.toscrape.com/catalogue/page-1.html'

headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64)'
}

response = requests.get(url, headers=headers)
soup = BeautifulSoup(response.content, 'html.parser')

books = soup.select('article.product_pod')

book_data = []

# **Loop through all books on the page**

In [3]:
for book in books:
    title = book.h3.a['title']
    price = book.select_one('.price_color').text.strip()
    availability = book.select_one('.availability').text.strip()

    book_data.append({
        'Title': title,
        'Price': price,
        'Availability': availability
    })

# **Convert to DataFrame**

In [5]:
df = pd.DataFrame(book_data)

# **Save to CSV**

In [6]:
df.to_csv("books_scraped.csv", index=False)

print("Scraping successful! Sample data:")
print(df.head())

Scraping successful! Sample data:
                                   Title   Price Availability
0                   A Light in the Attic  £51.77     In stock
1                     Tipping the Velvet  £53.74     In stock
2                             Soumission  £50.10     In stock
3                          Sharp Objects  £47.82     In stock
4  Sapiens: A Brief History of Humankind  £54.23     In stock